body
{
     background-image: url('/image/desk.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     
}
footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6)
}

.imghover:hover{
  transform: scale(1.3)
}

#memo{
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 8px;
  left: 150px;
  
}

#calc{
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 8px;
  left: 100px;
  
}
#chatt{
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 8px;
  left: 50px;
}


#Board img{
  width: 50px
  }
  
  #Board{
    margin-top: 20px;
  }
  
  .remove {
    visibility: hidden;
  }


  .appWindow {
    height: 360px;
    width: 250px;
    background-color: rgba(0, 217, 255, 0.445);
    position: absolute;
    text-align: center;
    resize: both;
    cursor: move;
    border: 19px double rgba(164,0,29,0.75);
    border-radius: 40px 0px 40px 0px;
    cursor: grab;
}
.divHeader{
  margin: 0;
  font-family: cursive;
  color:black;
  font-size:20px;
}

.appWindow:active{
  cursor: move;
  cursor: grabbing;
}
  
.equal{
  width: 135px;
  height: 53px;
}
  .Calc{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 45px);
    grid-template-rows: minmax(53px, auto) repeat(5, 53px)
  }

  .Calc button {
   
      cursor: pointer;
      font-size: 1rem;
      border: 1px solid rgba(10, 10, 10, 0.712);
      outline: none;
      background-color: rgba(255, 255, 255, 0.904);
    
  }

  
  .Calc button:hover {
    background-color: rgba(255, 255, 255, .9);
  }


  .output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }

  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }

#close {
    position: absolute;
    right: 14px;
    font-size: 20px;
    transform: rotate(45deg);
    cursor: pointer;
}

div.current{
  color: white;
  
}
div.previous{
  color: white;
  
}

.chatt {
  width: 80%;
}

.author{
  font-style: italic;
  color: yellow;
  
  padding-right: 150px;
}

.text{
 padding-right: 30px;
 padding-left: 30px;
  font-style: oblique;
  color: azure;
  background-color: rgba(2, 2, 2, 0.596);
  text-align: left;
  border: 4px outset rgb(21, 14, 107);
  border-radius: 0px 40px 40px 40px;
  margin: 0;
  width: 70px;
  display: inline-block;
  overflow-wrap: break-word;
}

.messages{
  margin-top: 1px;
  width: 240px;
  height: 253px;
  background-color: rgba(0, 0, 0, 0.459);
  resize: none;
  overflow-y: auto;
  color: white;
  border: 6px outset rgb(21, 14, 107);
  border-radius: 40px 40px 40px 40px;
}
.textmassage{
  width: 186px;
  background-color:  rgba(0, 0, 0, 0.659) ;
  color: azure;
  z-index: 99;
  resize: none;
  border: 1px ridge rgb(10, 10, 10);
  border-radius: 4px 4px 4px 4px;;
  margin-left: 15%;
  
}

#sendUser:hover {
  border-radius: 8px;
  background-color: violet;
  border-color: black;  
  transform: scale(1.3)
}
#sendUser {
  border-radius: 4px;
  background-color: rgb(189, 59, 189);
  border-color: black;  
  font-size: 12px;
}

#username{
  margin-top: 5px;
  height: 15px;
  width: 70px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.555);
  border-color: black;  
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 4px 4px 4px 4px;
}


::-webkit-scrollbar-thumb {
  background: rgba(13, 13, 14, 0.521);
  border-radius: 4px 4px 4px 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(58, 59, 70);
}



